

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
}
h1 {
  display: flex;
  justify-content: center;
  padding-top: 18rem;
}
.loading {
  color: white;
  padding-top: 20px;
}

.input {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  margin: auto;
  
}


