

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; 
  min-height: 100vh;
}
h1 {
  display: flex;
  justify-content: center;
}
.loading {
  color: white;
  padding-top: 20px;
}




