*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.data-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.959);
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.4 );
  }
  
  .data-table td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
  }
  .data-table th {
    background-color: #6c6c6c;
    font-weight: bold;
    color: white;
    border: 1px solid white;
    padding: 10px 16px;
  }


  ul { 
    list-style-type: none;
  }
  